@media screen and (min-width: 768px) {
  #mission-main {
    height: 496px;
    width: 100%;
    background: url("images/mission/mission-main.png") no-repeat center;
  }

  #mission-title {
    background-color: #2710d5;
    width: 368px;
    color: #ffffff;
    height: 496px;
    border-radius: 0 248px 248px 0;
    position: relative;
  }

  #mission-title > h1 {
    position: absolute;
    top: 0;
    left: 100px;
    font-size: 80px;
  }

  #mission-title > span {
    position: absolute;
    top: 200px;
    left: 100px;
    font-size: 26px;
  }

  #mission-title > div {
    position: absolute;
    top: 350px;
    left: 100px;
    font-size: 16px;
  }

  #mission-s2dgs {
    width: 100%;
    margin: 20px;
  }

  .mission-h2 {
    color: #2710d5;
    font-size: 40px;
  }

  .mission-h2::after {
    content: none;
  }

  #mission-5goals {
    margin: 20px;
    display: flex;
  }

  #mission-5goals > div {
    flex-grow: 1;
    padding: 20px;
  }

  #mission-5goals > div > div {
    margin-bottom: 40px;
  }

  .fivegoals-image-right {
    float: right;
    margin: 20px;
  }

  .fivegoals-image-left {
    float: left;
    margin: 20px;
  }

  .fivegoals-number {
    color: #2710d5;
    font-size: 48px;
    margin: 0;
  }

  .fivegoals-h3 {
    font-size: 28px;
    margin: 0;
  }

  .fivegoals-p {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  #mission-main {
    height: 256px;
    width: 100%;
    background: url("images/mission/mission-main.png") no-repeat center;
    background-size: auto 208px;
  }

  #mission-title {
    background-color: #2710d5;
    width: 136px;
    color: #ffffff;
    height: 256px;
    border-radius: 0 248px 248px 0;
    position: relative;
  }
  #mission-title > h1 {
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 40px;
  }

  #mission-title > span {
    position: absolute;
    top: 110px;
    left: 20px;
    font-size: 18px;
  }

  #mission-title > div {
    position: absolute;
    top: 180px;
    left: 20px;
    font-size: 13px;
  }

  #mission-s2dgs {
    margin: 20px;
  }

  .mission-h2 {
    color: #2710d5;
    font-size: 38px;
    margin: 0px;
  }

  .mission-h2::after {
    content: none;
  }

  #mission-s2dgs > img {
    width: 100%;
  }

  #mission-5goals {
    margin: 20px;
  }

  #mission-5goals > div > div {
    margin-bottom: 40px;
  }

  #s2dgs-image {
    width: 100%;
  }
  .fivegoals-image-right {
    margin: 20px auto 20px auto;
    display: block;
  }

  .fivegoals-image-left {
    margin: 20px auto 20px auto;
    display: block;
  }

  .fivegoals-number {
    color: #2710d5;
    font-size: 48px;
    margin: 0;
  }

  .fivegoals-h3 {
    font-size: 28px;
    margin: 0;
  }
  .fivegoals-p {
    margin: 0;
  }
}
